@import '../../utilities/palette-colors';
@import '../../utilities/fixed-img';
@import '../../components/flex-elements/flex-elements';

.index-2{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: $second-color;
    padding: 50px;
    .ind-row-text{
        @include flex-text(50%);
    }
}

.index-2-column-pic{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.cont-ind-column-img{
    position: relative;
    height: 50%;
    .ind-img{
        position: absolute;
        @extend .fixed-img;
    }
}

