@import '../../utilities/palette-colors';
@import '../../components/index/containers-index/containers-index';

.index-6{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $fourth-color;
    .ind-column-text{
        @extend .column-text;
    }
    .cont-ind-column-img{
        @extend .container-image;
    }
}