@import '../../utilities/fonts-sizes';
@import '../../utilities/text-position';

@mixin flex-text($width-text, $height-text){
    width: $width-text;
    height: $height-text;
    @extend .text-position;
    h2{
        @extend .h2-size;
    }
    p{
        @extend .p-size;
    }
    gap: 20px;
    padding: 50px;
}

@mixin flex-img($width-img, $height-img){
    position: relative;
    width: $width-img;
    height: $height-img;
}

