/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1c448e;
    width: 100%;
    padding: 10px 5px;
    line-height:200%;
    z-index: 5;
}

.links-header{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    text-align: center;
    list-style-type: none;
    gap: 20px;
}

.link-header{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
    /*Fundamental*/
}

@media (width < 720px){
    .links-header{
        grid-template-columns: auto;
    }
}

header nav a{
    text-decoration: none;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
}

footer{
    background-color: #1c448e;
    width: 100%;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    padding-left: 5px;
    padding-right: 5px;
    line-height:200%;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
    align-items: center;
    /* position: sticky; */
    bottom: 0;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 0;
}

.contacto{
    display: flex;
    flex-direction: row;
    p{
        font-size: 20px;
        margin-right: 10px;
    }
}

.red-social{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */


/* INDEX STYLES */

.index-1{
    background-image: url(../assets/img/index/new-york-city-brooklyn-bridge-evening-lights-sky-clouds-4k_1538066367.jpg.webp); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
    width: 100%;
}

.index-1-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
    padding: 50px;
}

.index-1 h1 h3{
    color: aliceblue;
}

.index-2{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color:  #eaeaea;
    padding: 50px;
}

.index-2 > .ind-row-text {
    color: black;
    font-size: 15px;
    padding: 40px;
}

.index-2-column-pic{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px
}

.index-3{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #769fb6;
}

.ind-column-text{
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
    padding: 50px;
}

.cont-ind-column-img{
    position: relative;
    height: 50%;
}

.ind-img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.index-4{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #d5d6aa;
}

.ind-row-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
    padding: 50px;
}

.cont-ind-row-img{
    position: relative;
    width: 50%;
}

.index-5{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    background-color: #9dbbae;
}

.index-6 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d5d6aa;
}

.ind-column-text a{
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #004E64;
    color: white;
    max-width: 30%;
    font-size: 15px;
}

.ind-row-text a{
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #004E64;
    color: white;
    max-width: 30%;
    font-size: 15px;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

/* DESTINOS STYLES */

.destinos-1{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/galeria-fotos-menu/night.jpeg);
    background-size: cover;
    height: calc(100vh - 102.4px);
    color: white;
    text-shadow: 1px 1px 1px;
}

.continents{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 50px;
}

@media (width < 1065px){
    .continents{
        grid-template-columns: repeat(3, 1fr);
    }
    .destinos-1{
        height: auto;
        padding-top: 50px;
    }
}

@media (width < 550px){
    .continents{
        grid-template-columns: repeat(2, 1fr);
    }
    .destinos-1{
        height: auto;
        padding-top: 50px;
        text-align: center;
    }
}

@media (width < 400px){
    .continents{
        grid-template-columns: 1fr;
    }
}

.card-continent{
    /* border: 1px solid black; */
    margin: 10px;
    width: 70%;
    height: 300px;
    position: relative;
    transition: transform 0.3s ease;
    /* overflow: hidden; */

}

.card-continent:hover {
    transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.card-continent a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-continent p{
    color: white;
    text-shadow: 1px -1px 1px black;
    z-index: 2;
    position: relative;
    padding: 20px;
    text-align: center;
    
}

.pic-continent{
    position: absolute;
    z-index: 1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


/* GALERIA DE FOTOS STYLES */

.box-cover-welcome-cont{
    position: relative;
    z-index: 1;
    height: 100vh;
}

.title-welcome-cont{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 40px;
}

.cover-welcome-cont{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(70%);
}

.photos-continent{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.fil-1-photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 30px;
}

.fil-2-photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 60px;
}

.box-photo{
    /* border: 1px solid black; */
    width: 800px;
    height: 300px;
    position: relative;
    transition: transform 0.3s ease;
}

.box-photo:hover{
    transform: scale(1.25);
    z-index: 1;
}

.photo{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1px 4px 8px black; 
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

/* BLOG STYLES */

.blog{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.header-blog{  
    background-color: #869eff;
    text-align: center;
    padding: 80px;
    background-image: url(/assets/img/blog-menu/header-blog.avif);
    background-size: cover;
    color: white;
    background-position: 50% 70%;
    text-shadow: 2px 2px 2px black;
}

.posteos{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.box-posteo{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.content-post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.box-img-post{
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
}

.img-post-1{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 90%;
}

.img-post-2{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 35%;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

/* ENTRADA BLOG STYLES */

.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-left: 200px;
    padding-right: 200px;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    h1{
        text-align: center;
        font-family: "Castoro Titling", serif;
        font-weight: bold;
    }
    h2{
        font-family: "Castoro Titling", serif;
    }
    h3{
        font-family: "Castoro Titling", serif;
    }
    ul li{
        font-family: "Castoro", serif;
        padding: 10px;
    }
}

.box-img-entrada{
    width: 100%;
    height: 300px;
}

.img-entrada{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.detalle-entrada{
    margin-top: 10px;
}

.entrd-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
    p{
        font-family: "Castoro", serif;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

/* RESEÑAS STYLES */

.welcome-resenas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.w-resenas-text{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.w-resenas-img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.cargas-resenas{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
    background-color: #d5d6aa;
    /* padding-top: 50px; */
    .titulo-carga{
        box-sizing: border-box;
        padding-top: 30px;
        text-align: center;
    }
} 

.box-resena a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.content-resena{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    gap: 30px;
    background-color: #eaeaea;
}

.img-resena{
    width: 50%;
    height: 300px;
    object-fit: cover;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/* RESEÑA PUNTUAL STYLES */

.resena-puntual{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

/* SOBRE ESTE PROYECTO STYLES */

.sobre-proy{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.card-proy1{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #eaeaea
}

.card-proy2{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #eaeaea
}

.pic-proy-1{
    position: absolute;
    object-fit:cover;
    object-position: 50% 10%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pic-proy-2{
    position: absolute;
    object-fit:cover;
    object-position: 50% 70%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

/* GUIA DE VIAJES STYLES */

.welcome-guia{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-image: url(/assets/img/guia-viaje/portada-guia-viajes.avif);
    background-size: cover;
}

.text-welcome-guia{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.guias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding: 100px;

}

.card-guia{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 30%;
    /* gap: 20px; */
}

.title-guia{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 30px;
    gap: 20px;
}

.title-guia > a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.img-card-guia{
    width: 100%;
    height:200px;
}

.img-guia{
    object-fit: cover;
    width: 100%;
    height: 100%;
}